div.new3
  div(class="verh")
    div(class="green")
    div(class="task")
    div(class="text")
      h2(class="shapka") Выполнено
        h2(class="zifra") 2
  div(class="zadacha")
    div(class="name") #5: интернет
    div(class="name2") Не работает интернет
    div(class="inf")
    div(class="avatar")
    img(src="img/avatar.png" alt="profile" style="width: 63px; height: 63px;")
    div(class="inform")
      div(class="graybox")
      div(class="graybox2")
    div(class="kom2")
    img(src="img/comm.svg" alt="profile" style="width: 18px; height: 18px; opacity: 0.30;")
    img(src="img/bars.svg" alt="profile" style="width: 18px; height: 18px; opacity: 0.30;")
  div(class="zadacha")
    div(class="name") #5: Интернет
    div(class="name2") Не работает интернет
    div(class="inf")
    div(class="avatar")
    img(src="img/avatar.png" alt="profile" style="width: 63px; height: 63px;")
    div(class="inform")
      div(class="graybox")
      div(class="graybox2")
    div(class="kom2")
    img(src="img/comm.svg" alt="profile" style="width: 18px; height: 18px; opacity: 0.30;")
    img(src="img/bars.svg" alt="profile" style="width: 18px; height: 18px; opacity: 0.30;")

